* {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: url(images/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  }

 
  header {
    max-width: 1139px;
    padding: 23px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
  }
  .header-logo{
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }

  .dropdown {
    display: none;
    
  }
  .header-nav {
   /* background-color: #AB47BC; */
   display: flex;
   justify-content: center;
   align-items: stretch;
  }

  .header-nav a {
    /* background-color: #d2d2d2; */
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .nav-link-components {
    margin-right: 30px;
  }

  .nav-link-download {
   margin-right: 27px;
  } 
  
  .nav-link-icons {
    margin-right: 24px;
  }
  /* отступ от img */
  .nav-link-download .link-image {
    padding-right: 6px;
  }
  main {
    display: flex;
    justify-content: center;
  }
  .sign-form {
    min-height: 470px;
    background: #FFFFFF;
    margin-top: 99px;
    border-radius: 3px;
    padding: 0 20.5px;
  }
  .social-icons {
    height: 84px;
    margin: auto;
    background: linear-gradient(90deg, #AB47BC 0%, #7B1FA2 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    position: relative;
    top: -39px;
    text-align: center;
    padding: 33px 37px;
  }

  .social-icons h2 {
    margin: 0 0 36px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    color: #FFFFFF;
  }

  .social-icons a {
    text-decoration: none;
    margin: 0 19px;
  }

  h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #000000;
    margin: 0px 0px 33px 0px ;
  }

  form {
    padding: 0 4px;
  }

  .first-name,
  .email,
  .password {
    display: flex;
    margin-bottom: 46px;
  }

.first-name input,
.email input,
.password input {
  width: 269px;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
}
.first-name input:focus,
.email input:focus,
.password input:focus {
  outline: none;
  border-bottom-color:  #7B1FA2;
  transition: border-bottom-color 1s;
}

.first-name::before {
  content: url("images/face.png");
  margin-right: 15px;
  margin-left: 4px;

}
.email::before {
  content: url("images/letter.png");
  margin-right: 15px;
  margin-left: 4px;
}

.password::before {
  content: url("images/lock.png");
  margin-right: 15px;
  margin-left: 4px;
}

.button-get-started  {
  text-align: center;
  margin-top: 33px;
  }

.button-get-started input {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #9C27B0;
  background-color: transparent;
  border: 0;
 
} 
.button-get-started input:focus {
  outline: none;
  color: grey ;
}

footer {
  /* background: #d2d2d2; */
  max-width: 1136px;
  padding: 72px 24px 33px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footer-nav {
  /* background: grey; */
}

.footer-nav a {
  /* background: #AB47BC; */
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 25px;
}

.footer-inform {
  /* background: #76647e; */
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media only screen and (max-width: 786px) {
  header {
    background: rgba(0, 0, 0, 0.4);
    }
  footer {
    display: block;
  }
  .footer-inform {
   text-align: center;
   margin-top: 30px;
  }
}

@media only screen and (max-width: 520px) {
  .first-name input,
  .email input,
  .password input {
    width: 240px;
  }

  .dropdown {
    display: initial;
  }

  .header-nav {
    display: none;
    position: absolute;
    top: 68px;
    right: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    z-index: 1;
  }
 
  .dropdown:focus + nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header-nav a {
    font-size: 24px;
    margin: 0;
    padding: 25px;
  }
  .footer-nav a {
    padding-right: 20px;
  }
    
}
