body {
    background: url(bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    min-height: 100vh;
  }
 
  header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

 header .top-nav a  {
  padding: 10px;
}


 header a {
    text-decoration: none;
    color: white;
}
